@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(roboto.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

html,body {
    height: 100%;
    margin: 0;
    background-color: #444;
    font-family: 'Roboto', sans-serif;
}
core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; 
}
core-toolbar {
    background: orangered;
    color: white;
}
#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
    margin: 10px auto;
    font-size: 60px;
}

core-card {
        height: 100%;
        padding: 20px;
        background-color: rgb(255, 255, 255);
      }

paper-fab.pause {
    background: red;
    color: white;
    position: absolute;
    right: 10px;
}

@media (min-width: 481px) {
    #tabs {
        width: 200px;
    }
    .container {
        width: 400px;
    }
}
