body {
    background-color: black;
    font-family: 'Calibri', sans-serif;
    color: white;
    -webkit-app-region: drag;
}

.container {
    display: flex;
    flex-direction: column;
}

tomato-card /deep/ #time {
    -webkit-app-region: no-drag;
}

tomato-card /deep/ #button-back {
    -webkit-app-region: no-drag;
}

tomato-card /deep/ #button-close {
    -webkit-app-region: no-drag;
}
